html 
    head 
        title= title 
        style
           include ../styles/style.css
        link(rel="import", href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap")
    body 
        navbar.navigation-bar 
            div.logo
                img(src="bg.jpg", alt="logo")
            div.menu-items
                ul.list 
                    li 
                         a(href='/home') Home 
                    li 
                         a(href='/login') Login 
                    li 
                         a(href='/signup') signup 
                    li 
                         a(href='/contact') Contact 
        
        footer.footer-bar 
            

            