html 
    head 
        title= title 
        style
           include ../styles/style.css
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
    body 
        navbar.navigation-bar 
            div.logo
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAejQ7bqjDw5pi_OORSgXERRuRoItDS-EYSw&usqp=CAU", alt="")
            div.menu-items
                ul.list 
                    li 
                         a(href='/home') Home 
                    li 
                         a(href='/login') Login 
                    li 
                         a(href='/signup') signup 
                    li 
                         a(href='/contact') Contact 
       
        section.mid-section-home
            h1#title Hi I am himadri
            p#welcome-message Welcome to my page 
            .description-project 
                h2 In this project I tried to create transparent  Forms of different domain - login , signup and contact
                br
                h3 I have incorporated template engine, express request handling and mongoDB as database 
                br 
                h3 Languages used : 
                <h4>
                    <ul>
                         <li>Pug (Template)</li>
                         <li>css (styling)</li>
                         <li>JavaScript</li> 
                         <li>Express</li>
                         <li>mongoose (mongoDB integration)</li>
                    </ul>
                </h4>
                br 
                br 
                h2 You can surf through pages from buttons in navbar
             
                      
        footer.footer-bar 
            h6 All Copyrights© Reserved with 
            h6 @Himadri Chakraborty 2021 