html 
    head 
        title= title 
        style
           include ../styles/style.css
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
    body 
        navbar.navigation-bar 
            div.logo
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAejQ7bqjDw5pi_OORSgXERRuRoItDS-EYSw&usqp=CAU", alt="not found" )
            div.menu-items
                ul.list 
                    li 
                         a(href='/home') Home 
                    li 
                         a(href='/login') Login 
                    li 
                         a(href='/signup') signup 
                    li 
                         a(href='/contact') Contact 

        section.display-message 
            h5= display__message

        section.mid-section 
            div.form
                form(id="Form" action="", method="post")
                    
                    #mail.label   Email
                       
                    input(type="mail" name="mail" placeholder="Enter your email : " id="input-field")
                    #pass.label   Password
                      
                    input(type="password" name="password" placeholder="Enter your password : " id="input-field" )
                    
                    #contact.label Phone
                    
                    input(type="phone" name="phone" placeholder="Enter your phone : " id="input-field")


                button(type="submit" name="submitted" form="Form" class="button")   <h4>Login</h4><span>&#8658;</span>

        footer.footer-bar 
            h6 All Copyrights© Reserved with 
            h6 @Himadri Chakraborty 2021  
        script
            include ../app.js